<span data-responsive-toggle="responsive-menu" data-hide-for="medium">
  <button type="button" class="menu-button" data-toggle>
    <span class="menu-icon"></span>
    <%= t("application.menu") %>
  </button>
</span>

<div id="responsive-menu">
  <div class="top-bar-right">
    <% if show_sign_in_links? %>
      <ul class="menu" data-responsive-menu="medium-dropdown">
        <%= render "shared/admin_login_items" %>
        <%= render "layouts/notification_item" %>
        <%= render "devise/menu/login_items" %>
      </ul>
    <% end %>

    <div class="show-for-small-only">
      <div class="subnavigation subnavigation-with-top-links">
        <%= render "shared/subnavigation" %>
        <%= render "shared/top_links" %>
      </div>
    </div>
  </div>
</div>
