<header>
  <% if display_remote_translation_info?(@remote_translations, I18n.locale) %>
    <%= render "shared/remote_translations_button", remote_translations: @remote_translations %>
  <% end %>

  <div class="top-links">
    <%= render "shared/locale_switcher" %>
    <div class="hide-for-small-only">
      <%= render "shared/top_links" %>
    </div>
  </div>

  <div class="top-bar">
    <h1 class="top-bar-title">
      <%= link_to root_path, accesskey: "0" do %>
        <%= image_tag("innoviris-logo-vector.svg", alt: setting["org_name"]) %>
      <% end %>
    </h1>

    <%= render Layout::ResponsiveMenuComponent.new %>
  </div>

  <div id="navigation_bar" class="subnavigation">
    <div class="hide-for-small-only">
      <%= render "shared/subnavigation" %>
    </div>

    <%= yield :header_addon %>
  </div>
</header>
